@model GuildCarsMastery.Models.Account.AccountChangePasswordVM
@{
    ViewBag.Title = "ChangePassword";
}

<div class="row">
    <h2>Change Password</h2>
</div>

@using (Html.BeginForm())
{
    <div class="row form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div class="row form-group">
        @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password")
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

